<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Learn something new</h1>

  <h2>
    We are organizing the very best learning resources. 
  </h2>

    <%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary" %>

</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>