<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Learn Ruby on Rails</h1>

  <h2>
    Find and share the very best learning resources.
  </h2>

    <%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary" %>

</div>

 <h3>New Users</h3>

<ul class="users">
  <% @users.each do |user| %>
  <% if user.name.include?("Jon")  || user.name.include?("Miguel")   %>
    <li>
      <%= gravatar_for user  %>
      <%= link_to user.name, user %>
    </li>

    <% end %>
  <% end %>
</ul>